<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dd class="fl">
                    <p class="text">人工客服</p>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2508749040&site=qq&menu=yes">在线咨询</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="##">账户管理</a></dd>
                <dd><a rel="nofollow" href="##">密码问题</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关注我们</dt>
                <dd><a rel="nofollow" href="##">官方微信</a></dd>
                <dd><a rel="nofollow" href="##">联系我们</a></dd>
            </dl>

            <dl class="col-article">
                <dt>关于贵阳通</dt>
                <dd><a rel="nofollow" href="##">了解贵阳通</a>
                </dd>
                <dd><a rel="nofollow" href="##">加入贵阳通</a>
            </dl>
            <dl class="wx">
                <dt>贵阳通官方微信</dt>
                <dd>
                    <img th:src="@{/mall/image/pay/weixin.png}">
                </dd>
            </dl>
        </div>
    </div>
</div>
</html>