<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title>贵阳通 GYTong</title>
    <link rel="stylesheet" th:href="@{/mall/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/mall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/mall/css/common.css}">
    <link rel="stylesheet" th:href="@{/mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{'/mall/styles/'+${path}+'.css'}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/mall/css/information_add.css}">
    <link rel="stylesheet" th:href="@{/mall/styles/help_home.css}">
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
</head>
<nav id="nav" th:fragment="nav-fragment">
    <div class="banner_x center">
        <a th:href="@{/index}" class="logo"></a>
        <!--
        <a th:href="@{/index}" class="gif"></a>
        <ul class="list">
            <li><a href="##">现时特价</a></li>
            <li><a href="##">热门活动</a></li>
        </ul>-->
    </div>
</nav>
<header id="header" th:fragment="header-fragment">
    <div class="center">
        <ul class="fl">
            <li><a th:href="@{/index}">贵阳通首页</a></li>
            <li><a th:href="@{/admin}">后台管理系统</a></li>
            <li><a href="">网站介绍</a></li>
        </ul>
        <div class="fr">
            <th:block th:unless="${session.newBeeMallUser==null}">
                <div class="user">
                    <ul class="selector">
                        <li>
                            <a th:href="@{/personal}">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/orders}">
                                我的收藏
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">
                                退出登录
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <th:block th:text="${session.newBeeMallUser.nickName}"></th:block>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a href="/goods/edit" style="color: white;">
                        我要发布
                        </a>
                </div>
                <div class="shopcart">
                    <a href="/mall/help_home" style="color: white;">
                        求者大厅
                    </a>
                </div>
            </th:block>
            <th:block th:if="${session.newBeeMallUser==null}">
                <ul class="login">
                    <li><a th:href="@{/login}">登录</a></li>
                    <li><a th:href="@{/register}">注册</a></li>
                </ul>
                <div class="shopcart">
                    <a href="##" style="color: white;">
                        我要发布</a>
                </div>
                <div class="help">
                    <a href="##" style="color: white;">
                        求者大厅
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</header>
</html>
