<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.HotSearchMapper">
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.HotSearch">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="hot_class" jdbcType="INTEGER" property="hot_class"/>
        <result column="hot_name" jdbcType="VARCHAR" property="hot_name"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, hot_class, hot_name
  </sql>
    <select id="hotList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_hot_search
        <where>
            1 = 1
        </where>
        order by id
    </select>
</mapper>